<div>
  <div class="wrapper-md">
    <div class="panel panel-default pos-rlt">

      <loader-overlay></loader-overlay>

      <div>
        <create-button></create-button>
      </div>

      <div class="line line-dashed b-b line-lg m-b"></div>

      <div class="row">
        <div class="col-lg-3">
          <dot-tuyen-sinh></dot-tuyen-sinh>
        </div>
        <div class="col-lg-3">
          <co-so-dao-tao></co-so-dao-tao>
        </div>
        <div class="col-lg-3">
          <nganh-thac-si></nganh-thac-si>
        </div>
        <div class="col-lg-3">
          <button class="btn btn-default" ng-click="reset()">
            <i class="glyphicon glyphicon-filter"></i>
            Reset
          </button>
        </div>
      </div>


      <div class="line line-dashed b-b line-lg m-b"></div>

      <my-pagination-limit></my-pagination-limit>

      <table class="table m-b-none qlhv-table" ui-jq="footable" data-filter="#filter" ng-init="selectedIndex = 0" data-page-size="99999">
        <thead>
        <tr class="header-row">
          <th>
            <span>STT</span>
          </th>
          $listHeaderColumn
          <th>
            <span>Thao tác</span>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in data.items" ng-class="{selected: $parent.selectedIndex == $index}" ng-click="$parent.selectedIndex = $index">
          <td>
            {{ data.pagination.firstIndex + $index }}
          </td>
          $listColumns
          <td>
            <edit-button ui-sref="$viewState({id: item.id})"></edit-button>
            <remove-button></remove-button>
          </td>
        </tr>
        </tbody>

        <tfoot class="hide-if-no-paging">
        <tr class="footer-row">
          <td colspan="$listColumnLength" class="text-center">
            <ul class="pagination"></ul>
          </td>
        </tr>
        </tfoot>
      </table>

      <my-pagination></my-pagination>

    </div>
  </div>
</div>
